:root {
  --header-height: 72px;
  --page-padding-x: 32px;
}

.shared-page-title {
  font-size: 3rem;
  font-weight: 700;
}

$color-red: #810100;
$background-color: #FFF8F1;
$button-text-color: #FFF8F1;

// Base text variables
$base-font-family: "Satoshi Variable";
$base-font-style: normal;
$base-line-height: normal;

$heading-large-font-size: 48px;
$heading-large-font-weight: 700;

$heading-medium-font-size: 32px;
$heading-medium-font-weight: 400;

