<app-page-container>
  <h1 class="shared-page-title home-page-title">KLARA BÜHR</h1>
  <h2 class="shared-page-title home-page-subheading">Interaction Design Student</h2>
  <div class="home-image-placeholder">
    <p class="home-image-text">I'm interested in how people interact with systems, both physical and digital.
      My work focuses on making these interactions clear, understandable, and intuitive.</p>
  </div>
  <img #projectsHeading class="home-projects-heading" src="assets/svg/Projects.svg" alt="Projects">
  <div class="home-projects-section">
    <div class="home-image-placeholder-2"></div>
    <div class="home-project-content">
      <div class="home-project-description">MACRO TO MICRO</div>
      <p class="home-project-subtitle">An interactive exhibit that shows how microplastics enter the human body through various routes.</p>
      <app-button></app-button>
    </div>
  </div>
</app-page-container>
