@use '../../../shared/shared-styles.scss' as *;


// home-component specific styles
.home-page-title {
  margin-bottom: 8px;
  color: $color-red;
  font-family: "Satoshi Variable";
  font-size: 96px;
  line-height: normal;
  letter-spacing: 1.92px;
  font-style: normal;
  font-weight: 900;
}


.home-image-placeholder {
  position: relative;
  width: 100vw;
  height: 50vw;
  margin-left: calc(-1 * var(--page-padding-x));
  background-color: rgb(73, 73, 73);
}

.home-image-text {
  position: absolute;
  bottom: var(--page-padding-x);
  left: var(--page-padding-x);
  width: 33%;
  color: #FFF8F1;
  font-family: $base-font-family;
  font-size: $heading-medium-font-size;
  font-style: $base-font-style;
  font-weight: $heading-medium-font-weight;
  line-height: $base-line-height;
}

.home-projects-heading {
  display: block;
  width: 20%;
  max-width: 100%;
  margin: 120px auto 0;
}

.home-image-placeholder-2 {
  width: 60vw;
  height: 40vw;
  margin-left: calc(-1 * var(--page-padding-x));
  margin-top: 80px;
  background-color: rgb(73, 73, 73);
}

.home-projects-section {
  display: flex;
  align-items: center;
  gap: 20px; // Optional gap between image and description
}

.home-project-content {
  display: flex;
  flex-direction: column;
  gap: 10px; // Optional gap between title and subtitle
}

.home-project-description {
  color: #810100;
  font-family: $base-font-family;
  font-size: $heading-large-font-size;
  font-style: $base-font-style;
  font-weight: $heading-large-font-weight;
  line-height: $base-line-height;
}

.home-project-subtitle {
  width: 500px;
  color: #000;
  font-family: $base-font-family;
  font-size: $heading-medium-font-size;
  font-style: $base-font-style;
  font-weight: $heading-medium-font-weight;
  line-height: $base-line-height;
}

.home-page-subheading {
  color: #000;
  font-family: "Satoshi Variable";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
