<app-page-container>
  <div class="dryve-hero hero-full-bleed">
    <img class="dryve-hero__image" src="assets/Dryve%20Pictures/Thumbnail%20Dryve.png" alt="DRYVE">
    <div class="dryve-hero__copy">
      <h1 class="dryve-hero__title" appReveal>DRYVE</h1>
    </div>
  </div>

  <div class="dryve-tags">
    <span class="dryve-tags__tag">Interface</span>
    <span class="dryve-tags__tag">Usability</span>
    <span class="dryve-tags__tag">User Interviews</span>
    <span class="dryve-tags__tag">Prototyping</span>
    <span class="dryve-tags__tag">Arduino</span>
  </div>

  <section class="dryve-overview">
    <h2 class="dryve-overview__heading" appReveal>OVERVIEW</h2>
    <p class="dryve-overview__text" appReveal [appRevealDelay]="100">Dryve is an experimental <strong>controller</strong> designed to operate a <strong>mobile robot</strong>. The aim of the project was to move away from conventional controller principles and develop a more <strong>intuitive way of interaction</strong>. <br> The robot can <strong>move</strong> forwards, backwards, sideways, and rotate. It also features a <strong>gripper arm</strong> that can open, close, lift, and lower. These different functions had to be controlled through the controller in a <strong>natural</strong> and <strong>easy-to-understand way</strong>.</p>
  </section>

  <div class="dryve-info-cards">
    <div class="dryve-info-card" appReveal>
      <img class="dryve-info-card__icon" src="assets/icons/Duration.svg" alt="Duration">
      <h3 class="dryve-info-card__title">DURATION</h3>
      <p class="dryve-info-card__content">1 semester<br>03 - 08/2025</p>
    </div>
    <div class="dryve-info-card" appReveal [appRevealDelay]="100">
      <img class="dryve-info-card__icon" src="assets/icons/Team.svg" alt="Team">
      <h3 class="dryve-info-card__title">TEAM</h3>
      <p class="dryve-info-card__content">Klara Bühr<br>Julia Tischler<br>Ashlee Sheller</p>
    </div>
    <div class="dryve-info-card" appReveal [appRevealDelay]="200">
      <img class="dryve-info-card__icon" src="assets/icons/my responsibilities.svg" alt="My Responsibilities">
      <h3 class="dryve-info-card__title">MY RESPONSIBILITIES</h3>
      <p class="dryve-info-card__content">Concept<br>Prototyping<br>Usability Testing<br>Physical Computing<br>Coding</p>
    </div>
    <div class="dryve-info-card" appReveal [appRevealDelay]="300">
      <img class="dryve-info-card__icon" src="assets/icons/tools.svg" alt="Tools">
      <h3 class="dryve-info-card__title">TOOLS</h3>
      <p class="dryve-info-card__content">Figjam<br>Arduino<br>Fusion360<br>Blender</p>
    </div>
  </div>

  <section class="dryve-process">
    <div class="dryve-process__inner">
      <h2 class="dryve-process__heading" appReveal>PROCESS</h2>
      <div class="dryve-process__columns">
        <div class="dryve-process__column" appReveal>
          <h3 class="dryve-process__step-title">01 Concept & Prototyping</h3>
          <img class="dryve-process__image-placeholder" src="assets/Dryve%20Pictures/Concept.png" alt="Concept & Prototyping">
          <p class="dryve-process__text">We began with sketches and discussions to explore different interaction ideas. The final concept became a squeezable ball that controls movement through tilting and the gripper through pressure.</p>
        </div>
        <div class="dryve-process__column" appReveal [appRevealDelay]="100">
          <h3 class="dryve-process__step-title">02 User Testing</h3>
          <img class="dryve-process__image-placeholder" src="assets/Dryve%20Pictures/User%20Testing.png" alt="User Testing">
          <p class="dryve-process__text">We conducted user testing to evaluate the intuitiveness and ease of use of our controller. Feedback from these sessions helped us refine the design and improve the overall user experience.</p>
        </div>
        <div class="dryve-process__column" appReveal [appRevealDelay]="200">
          <h3 class="dryve-process__step-title">03 Implementation</h3>
          <img class="dryve-process__image-placeholder dryve-process__image-placeholder--left" src="assets/Dryve%20Pictures/Implementation.jpeg" alt="Implementation">
          <p class="dryve-process__text">We then built the final prototype, including 3D printing, sensor integration, and programming. Finally, we created renderings to show what the finished product could look like.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="dryve-outcome">
    <h2 class="dryve-outcome__heading" appReveal>FINAL OUTCOME</h2>

    <div class="dryve-outcome__video-wrapper" appReveal>
      <iframe
        class="dryve-outcome__video"
        src="https://www.youtube.com/embed/VIDEO_ID"
        title="DRYVE"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>

    <div class="dryve-outcome__row" appReveal>
      <div class="dryve-outcome__image"></div>
      <p class="dryve-outcome__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
    </div>

    <div class="dryve-outcome__row dryve-outcome__row--reversed" appReveal>
      <p class="dryve-outcome__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
      <div class="dryve-outcome__image"></div>
    </div>

    <div class="dryve-outcome__row" appReveal>
      <div class="dryve-outcome__image"></div>
      <p class="dryve-outcome__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
    </div>
  </section>

  <section class="dryve-other-projects">
    <h2 class="dryve-other-projects__heading" appReveal>OTHER PROJECTS</h2>
    <div class="dryve-other-projects__grid">
      <div class="dryve-other-projects__card" role="button" (click)="navigateToMacroToMicro()" appReveal>
        <img class="dryve-other-projects__image-placeholder" src="assets/Macro%20to%20Micro%20Pictures%20/Thumbnail.png" alt="Macro to Micro">
        <span class="dryve-other-projects__label">MACRO TO MICRO</span>
      </div>
      <div class="dryve-other-projects__card" role="button" (click)="navigateToWocy()" appReveal [appRevealDelay]="100">
        <img class="dryve-other-projects__image-placeholder" src="assets/Wocy%20Pictures/Wocy%20Thumbnail.png" alt="WOCY">
        <span class="dryve-other-projects__label">WOCY</span>
      </div>
      <div class="dryve-other-projects__card" role="button" (click)="navigateToSalt()" appReveal [appRevealDelay]="200">
        <img class="dryve-other-projects__image-placeholder" src="assets/Salt./Thumbnail%20Salt.png" alt="SALT.">
        <span class="dryve-other-projects__label">SALT.</span>
      </div>
    </div>
  </section>

</app-page-container>
