<app-page-container>
  <div class="wocy-hero hero-full-bleed">
    <img class="wocy-hero__image" src="assets/images/wocy-thumbnail.png" alt="WOCY">
    <div class="wocy-hero__copy">
      <h1 class="wocy-hero__title" appReveal>WOCY</h1>
    </div>
  </div>

  <div class="wocy-tags">
    <span class="wocy-tags__tag">Tag 1</span>
    <span class="wocy-tags__tag">Tag 2</span>
    <span class="wocy-tags__tag">Tag 3</span>
  </div>

  <section class="wocy-overview">
    <h2 class="wocy-overview__heading" appReveal>OVERVIEW</h2>
    <p class="wocy-overview__text" appReveal [appRevealDelay]="100">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
  </section>

  <div class="wocy-info-cards">
    <div class="wocy-info-card" appReveal>
      <img class="wocy-info-card__icon" src="assets/icons/Duration.svg" alt="Duration">
      <h3 class="wocy-info-card__title">DURATION</h3>
      <p class="wocy-info-card__content">1 semester<br>MM - MM/YYYY</p>
    </div>
    <div class="wocy-info-card" appReveal [appRevealDelay]="100">
      <img class="wocy-info-card__icon" src="assets/icons/Team.svg" alt="Team">
      <h3 class="wocy-info-card__title">TEAM</h3>
      <p class="wocy-info-card__content">Name 1<br>Name 2</p>
    </div>
    <div class="wocy-info-card" appReveal [appRevealDelay]="200">
      <img class="wocy-info-card__icon" src="assets/icons/my responsibilities.svg" alt="My Responsibilities">
      <h3 class="wocy-info-card__title">MY RESPONSIBILITIES</h3>
      <p class="wocy-info-card__content">Responsibility 1<br>Responsibility 2<br>Responsibility 3</p>
    </div>
    <div class="wocy-info-card" appReveal [appRevealDelay]="300">
      <img class="wocy-info-card__icon" src="assets/icons/tools.svg" alt="Tools">
      <h3 class="wocy-info-card__title">TOOLS</h3>
      <p class="wocy-info-card__content">Tool 1<br>Tool 2<br>Tool 3</p>
    </div>
  </div>

  <section class="wocy-process">
    <div class="wocy-process__inner">
      <h2 class="wocy-process__heading" appReveal>PROCESS</h2>
      <div class="wocy-process__columns">
        <div class="wocy-process__column" appReveal>
          <h3 class="wocy-process__step-title">01 Step</h3>
          <div class="wocy-process__image-placeholder"></div>
          <p class="wocy-process__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
        </div>
        <div class="wocy-process__column" appReveal [appRevealDelay]="100">
          <h3 class="wocy-process__step-title">02 Step</h3>
          <div class="wocy-process__image-placeholder"></div>
          <p class="wocy-process__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
        </div>
        <div class="wocy-process__column" appReveal [appRevealDelay]="200">
          <h3 class="wocy-process__step-title">03 Step</h3>
          <div class="wocy-process__image-placeholder"></div>
          <p class="wocy-process__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="wocy-outcome">
    <h2 class="wocy-outcome__heading" appReveal>FINAL OUTCOME</h2>

    <div class="wocy-outcome__video-wrapper" appReveal>
      <iframe
        class="wocy-outcome__video"
        src="https://www.youtube.com/embed/VIDEO_ID"
        title="WOCY"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>

    <div class="wocy-outcome__row" appReveal>
      <div class="wocy-outcome__image"></div>
      <p class="wocy-outcome__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
    </div>

    <div class="wocy-outcome__row wocy-outcome__row--reversed" appReveal>
      <p class="wocy-outcome__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
      <div class="wocy-outcome__image"></div>
    </div>

    <div class="wocy-outcome__row" appReveal>
      <div class="wocy-outcome__image"></div>
      <p class="wocy-outcome__text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
    </div>
  </section>

  <section class="wocy-other-projects">
    <h2 class="wocy-other-projects__heading" appReveal>OTHER PROJECTS</h2>
    <div class="wocy-other-projects__grid">
      <div class="wocy-other-projects__card" role="button" (click)="navigateToMacroToMicro()" appReveal>
        <div class="wocy-other-projects__image-placeholder"></div>
        <span class="wocy-other-projects__label">MACRO TO MICRO</span>
      </div>
      <div class="wocy-other-projects__card" role="button" (click)="navigateToDryve()" appReveal [appRevealDelay]="100">
        <div class="wocy-other-projects__image-placeholder"></div>
        <span class="wocy-other-projects__label">DRYVE</span>
      </div>
      <div class="wocy-other-projects__card" role="button" (click)="navigateToSalt()" appReveal [appRevealDelay]="200">
        <div class="wocy-other-projects__image-placeholder"></div>
        <span class="wocy-other-projects__label">SALT.</span>
      </div>
    </div>
  </section>

</app-page-container>
