<app-page-container>
  <div #heroScrollContainer class="macro-hero hero-full-bleed">
    <div class="macro-hero__sticky">
      <img class="macro-hero__image" src="assets/Macro%20to%20Micro%20Pictures%20/Thumbnail.png" alt="Macro to Micro">
      <div class="macro-hero__copy">
        <div class="macro-hero__title-clip">
          <h1 #heroTitle class="macro-hero__title">MACRO TO MICRO</h1>
        </div>
        <div class="macro-hero__subtitle-clip">
          <p #heroSubtitle class="macro-hero__subtitle">Tracing how microplastics enter the human body</p>
        </div>
      </div>
    </div>
  </div>
</app-page-container>
